
.header-wrapper
{
  background-color: #27ae60;
  color: #efefef;
}

.header-wrapper header h1.brand
{
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 2rem;
  padding-top: 2rem;
}

.header-wrapper header .intro
{
  color: #232323;
  background-color: #27ae60;
  font-size: 1rem;
  padding: 2rem;
}