
.header-wrapper
{
  background-color: #27ae60;
  border-bottom: 3px solid #259f58;
}

.header-wrapper header h1.brand
{
  color: #efefef;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;

  margin-bottom: 2rem;
  padding-top: 2rem;
}

.header-wrapper header .intro
{
  border-radius: 20px;
  
  color: #232323;
  background-color: #efefef;

  font-size: 1rem;
  padding: 2rem;
  margin-bottom: 2rem;
}