.user-data-input-wrapper
{
  border-top: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;

  padding-top: 3.5rem;
  padding-bottom: 2rem;
}

.user-data-input-wrapper table tr td
{
  padding-bottom: 1.5rem;
  padding-right: 0.5rem;
}

.user-data-input-wrapper table tr td label
{
  font-weight: 700;
}

.user-data-input-wrapper table tr td button
{
  width: 100%;
}

.user-data-input-wrapper input
{
  border-radius: 5px;
}

.user-data-input-wrapper input.input-error
{
  background-color: #fa9a9a;
}
