
.user-data-input-wrapper
{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.user-data-input-wrapper table
{
  display: block;

  border-radius: 20px;
  border: 3px solid #259f58;
  background-color: #27ae60;

  color: #fff;

  padding: 2rem;
}

.user-data-input-wrapper table tr td
{
  padding-bottom: 1.5rem;
  padding-right: 0.5rem;
}

.user-data-input-wrapper table tr:last-child td
{
  padding-bottom: 0px;
}

.user-data-input-wrapper table tr td label
{
  font-weight: 700;
}

.user-data-input-wrapper table tr td button
{
  width: 100%;
}

.user-data-input-wrapper input
{
  border-radius: 5px;
}

.user-data-input-wrapper input.input-error
{
  background-color: #fa9a9a;
}
