<div class="user-data-input-wrapper">
  <table>
    <tbody>
      <tr>
        <td>
          <label for="age">Age:</label>
        </td>
        <td colspan="3">
          <input id="age" type="text" [(ngModel)]="userData.age" />
        </td>
      </tr>
      
      <ng-template [ngIf]="!userData.isMetric">
        <tr>
          <td>
            <label for="height">Height (in):</label>
          </td>
          <td colspan="3">
            <input id="height" type="text" [(ngModel)]="userData.height" />
          </td>
        </tr>
        <tr>
          <td>
            <label for="weight">Weight (lbs):</label>
          </td>
          <td colspan="3">
            <input id="weight" type="text" [(ngModel)]="userData.weight" />
          </td>
        </tr>
      </ng-template>

      <ng-template [ngIf]="userData.isMetric">
        <tr>
          <td>
            <label for="height">Height (m):</label>
          </td>
          <td colspan="3">
            <input id="height" type="text" [(ngModel)]="userData.height" />
          </td>
        </tr>
        <tr>
          <td>
            <label for="weight">Weight (kg):</label>
          </td>
          <td colspan="3">
            <input id="weight" type="text" [(ngModel)]="userData.weight" />
          </td>
        </tr>
      </ng-template>

      <tr>
        <td><label for="sex">Sex: </label></td>
        <td colspan="3">
          <select>
            <option>Male</option>
            <option>Female</option>
          </select>
        </td>
      </tr>

      <tr>
        <td>
          <label for="is-metric">Use Metric?</label>
        </td>
        <td colspan="3">
          <input id="is-metric" type="checkbox" [(ngModel)]="userData.isMetric" />
        </td>
      </tr>
      
    </tbody>
  </table>
</div>