/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500&family=Noto+Sans:wght@400;700&display=swap");

$fredoka-ff: 'Fredoka', sans-serif;
$noto-sans-ff: 'Noto Sans', sans-serif;

$color-font-light:        #fff;
$color-font-dark:         #232323;

$color-unknown:           #f5f5f5;
$color-unknown-comp:      #e7e7e7;

$color-underweight:       #27aea8;

$color-healthy:           #27ae60;
$color-healthy-comp:      #259f58;           

$color-overweight:        #ae8427;
$color-obese:             #ae2727;

html, body
{
  font-family: $noto-sans-ff;
  font-size: 20px;
  line-height: 2rem;
}

h1, h2, h3, h4, h5, h6
{
  font-family: $fredoka-ff;
  font-weight: 500;
}