/* You can add global styles to this file, and also import other style files */

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

$fredoka-ff: 'Fredoka', sans-serif;
$source-sans-pro-ff: 'Source Sans Pro', sans-serif;

html, body
{
  font-family: $source-sans-pro-ff;
  font-size: 20px;
  line-height: 1.5rem;
}

h1, h2, h3, h4, h5, h6
{
  font-family: $fredoka-ff;
  font-weight: 500;
}