/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500&family=Noto+Sans:wght@400;700&display=swap");

$fredoka-ff: 'Fredoka', sans-serif;
$noto-sans-ff: 'Noto Sans', sans-serif;

$unknown-color:        #dbdbdb;
$underweight-color:   #27aea8;
$healthy-color:       #27ae60;
$overweight-color:    #ae8427;
$obese-color:         #ae2727;

html, body
{
  font-family: $noto-sans-ff;
  font-size: 20px;
  line-height: 1.7rem;
}

h1, h2, h3, h4, h5, h6
{
  font-family: $fredoka-ff;
  font-weight: 500;
}